#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  width: 500px;
  height: 50px;
}

/* Test style */
.app * {
  border: blue 1px dotted;
  box-sizing: border-box;
}

